<h1>Gente fuerte</h1>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
        @if (character.power > 500) {
          <li>
            <span>{{idx}} - {{character.name}} </span>
            <strong
            [class.text-danger] = "character.power > 8000 "
            [class.text-primary] = "character.power < 8000 "
            >({{character.power}})</strong>
          </li>
        } @else {
          <li><strong>Este personaje es un matao</strong></li>
        }
      }

    </ul>
